html {
    /* force scrollbars to always show to prevent layout shift */
    overflow-y: scroll !important;
    /* allow children to take full height */
    height: 100%;
}

body {
    /* avoid popover induced layout shift */
    padding: 0 !important;
    /* allow children to take full height */
    height: 100%;
}

#root {
    /* allow children to take full height */
    height: 100%;
}

#root::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, red, white);
    z-index: -1;
    pointer-events: none;
}